<nav class="navbar navbar-default" role="navigation">



  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
<!--     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button> -->
   <!--  <a class="navbar-brand" href="#">Posts of Interest</a> -->
   
  </div>
   <%= image_tag("brittany_banner.png", :class => 'banner')  %>
   <a href="#"><%= image_tag("post_header.png", :class => 'post-header')  %></a>
  <div class='yellow-stripe'></div>
  <div class='teal-stripe'>
    <%= render 'posts/login' %>
  </div>
</nav>